In [87]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col

# Read and process data

In [88]:
# Create a SparkSession
spark = SparkSession.builder.appName("movies_data_final").getOrCreate()

# Prepare the data
df = spark.read.csv('../Data/Procceed/recommendations.csv', header=True, inferSchema=True)
display(df)

DataFrame[id_global: int, movieId: int, imdbid: int, budget: int, original_title: string, popularity: string, revenue: string, runtime: string, vote_average: string, vote_count: string, gender_id: int, gender_name: string, tmdbId: int, userId: int, average_rating: double, cast_character: string, cast_namer: string, crew_job: string, crew_namer: string]

In [89]:
# Split the data into training and test sets
(training, test) = df.randomSplit([0.8, 0.2])

In [90]:
# Build the ALS model
als = ALS(userCol="userId", itemCol="movieId", ratingCol="average_rating",coldStartStrategy="drop")
model = als.fit(training)

In [83]:
# Use the model to predict the ratings for the test set
predictions = model.transform(test)

In [92]:
# Evaluate the model using the RegressionEvaluator
evaluator = RegressionEvaluator(metricName="rmse", labelCol="average_rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print("Root-mean-square error = " + str(rmse))

Py4JJavaError: An error occurred while calling o1353.evaluate.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 5 in stage 397.0 failed 1 times, most recent failure: Lost task 5.0 in stage 397.0 (TID 881) (192.168.56.1 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:708)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:752)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:675)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:641)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:617)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:574)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:532)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 31 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:708)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:752)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:675)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:641)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:617)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:574)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:532)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 31 more

In [85]:
# Create a DataFrame with the new movie's information
new_movie = spark.createDataFrame([(0, 0, 10)], ["userId", "movieId", "average_rating"])

In [86]:
# Use the model to predict the rating for the new movie
predictions = model.transform(new_movie)

# Extract the predicted rating
predicted_rating = predictions.select("prediction").first()[0]
print("Predicted rating for the new movie: " + str(predicted_rating))

Py4JJavaError: An error occurred while calling o1125.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 14 in stage 289.0 failed 1 times, most recent failure: Lost task 14.0 in stage 289.0 (TID 610) (192.168.56.1 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:708)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:752)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:675)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:641)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:617)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:574)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:532)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 31 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:708)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:752)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:675)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:641)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:617)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:574)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:532)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 31 more

In [76]:
# Suggest top N movies similar to a given movie title
def suggest_movies(title, N):
    # Get the movieId of the given movie title
    movieId = df.filter(col("original_title") == title).select("movieId").collect()[0][0]
    
    # Get the top N similar movies
    similar_movies = model.itemFactors.filter(col("id") == movieId).select("features").collect()[0][0]
    similar_movies = sorted(enumerate(similar_movies), key=lambda x: -x[1])[:N]
    
    # Print the similar movies
    for movie in similar_movies:
        print(df.filter(col("movieId") == movie[0]).select("original_title").collect()[0][0])

suggest_movies("The Shawshank Redemption", 10)

IndexError: list index out of range

In [61]:


# Read csv
df = spark.read.csv('../Data/Procceed/movies_data_final.csv', header=True, inferSchema=True)
df.show()

+-------+------+--------+---------+--------------------+----------+-------+------------+----------+---------+-----------+------+------------------+
|movieId|imdbid|  budget|id_global|      original_title|popularity|runtime|vote_average|vote_count|gender_id|gender_name|tmdbId|        avg_rating|
+-------+------+--------+---------+--------------------+----------+-------+------------+----------+---------+-----------+------+------------------+
|      1|114709|30000000|      862|           Toy Story| 21.946943|   81.0|         7.7|      5415|       16|  Animation|   862|3.8724696356275303|
|      1|114709|30000000|      862|           Toy Story| 21.946943|   81.0|         7.7|      5415|       35|     Comedy|   862|3.8724696356275303|
|      1|114709|30000000|      862|           Toy Story| 21.946943|   81.0|         7.7|      5415|    10751|     Family|   862|3.8724696356275303|
|      2|113497|65000000|     8844|             Jumanji| 17.015539|  104.0|         6.9|      2413|       12|  Adventure|  8844|3.4018691588785046|
|      2|113497|65000000|     8844|             Jumanji| 17.015539|  104.0|         6.9|      2413|       14|    Fantasy|  8844|3.4018691588785046|
|      2|113497|65000000|     8844|             Jumanji| 17.015539|  104.0|         6.9|      2413|    10751|     Family|  8844|3.4018691588785046|
|      3|113228|       0|    15602|    Grumpier Old Men|   11.7129|  101.0|         6.5|        92|    10749|    Romance| 15602|3.1610169491525424|
|      3|113228|       0|    15602|    Grumpier Old Men|   11.7129|  101.0|         6.5|        92|       35|     Comedy| 15602|3.1610169491525424|
|      4|114885|16000000|    31357|   Waiting to Exhale|      null|   null|        null|      null|       35|     Comedy| 31357|2.3846153846153846|
|      4|114885|16000000|    31357|   Waiting to Exhale|      null|   null|        null|      null|       18|      Drama| 31357|2.3846153846153846|
|      4|114885|16000000|    31357|   Waiting to Exhale|      null|   null|        null|      null|    10749|    Romance| 31357|2.3846153846153846|
|      5|113041|       0|    11862|Father of the Bri...|  8.387519|  106.0|         5.7|       173|       35|     Comedy| 11862| 3.267857142857143|
|      6|113277|60000000|      949|                Heat| 17.924927|  170.0|         7.7|      1886|       28|     Action|   949|3.8846153846153846|
|      6|113277|60000000|      949|                Heat| 17.924927|  170.0|         7.7|      1886|       80|      Crime|   949|3.8846153846153846|
|      6|113277|60000000|      949|                Heat| 17.924927|  170.0|         7.7|      1886|       18|      Drama|   949|3.8846153846153846|
|      6|113277|60000000|      949|                Heat| 17.924927|  170.0|         7.7|      1886|       53|   Thriller|   949|3.8846153846153846|
|      7|114319|58000000|    11860|             Sabrina|  6.677277|  127.0|         6.2|       141|       35|     Comedy| 11860|3.2830188679245285|
|      7|114319|58000000|    11860|             Sabrina|  6.677277|  127.0|         6.2|       141|    10749|    Romance| 11860|3.2830188679245285|
|      8|112302|       0|    45325|        Tom and Huck|  2.561161|   97.0|         5.4|        45|       28|     Action| 45325|               3.8|
|      8|112302|       0|    45325|        Tom and Huck|  2.561161|   97.0|         5.4|        45|       12|  Adventure| 45325|               3.8|
+-------+------+--------+---------+--------------------+----------+-------+------------+----------+---------+-----------+------+------------------+
only showing top 20 rows

In [62]:
# Delete columns : gender_id, tmdbld, imdbid, id_global
df = df.drop('gender_id', 'tmdbId', 'imdbid', 'id_global')
df.show()

+-------+--------+--------------------+----------+-------+------------+----------+-----------+------------------+
|movieId|  budget|      original_title|popularity|runtime|vote_average|vote_count|gender_name|        avg_rating|
+-------+--------+--------------------+----------+-------+------------+----------+-----------+------------------+
|      1|30000000|           Toy Story| 21.946943|   81.0|         7.7|      5415|  Animation|3.8724696356275303|
|      1|30000000|           Toy Story| 21.946943|   81.0|         7.7|      5415|     Comedy|3.8724696356275303|
|      1|30000000|           Toy Story| 21.946943|   81.0|         7.7|      5415|     Family|3.8724696356275303|
|      2|65000000|             Jumanji| 17.015539|  104.0|         6.9|      2413|  Adventure|3.4018691588785046|
|      2|65000000|             Jumanji| 17.015539|  104.0|         6.9|      2413|    Fantasy|3.4018691588785046|
|      2|65000000|             Jumanji| 17.015539|  104.0|         6.9|      2413|     Family|3.4018691588785046|
|      3|       0|    Grumpier Old Men|   11.7129|  101.0|         6.5|        92|    Romance|3.1610169491525424|
|      3|       0|    Grumpier Old Men|   11.7129|  101.0|         6.5|        92|     Comedy|3.1610169491525424|
|      4|16000000|   Waiting to Exhale|      null|   null|        null|      null|     Comedy|2.3846153846153846|
|      4|16000000|   Waiting to Exhale|      null|   null|        null|      null|      Drama|2.3846153846153846|
|      4|16000000|   Waiting to Exhale|      null|   null|        null|      null|    Romance|2.3846153846153846|
|      5|       0|Father of the Bri...|  8.387519|  106.0|         5.7|       173|     Comedy| 3.267857142857143|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|     Action|3.8846153846153846|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|      Crime|3.8846153846153846|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|      Drama|3.8846153846153846|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|   Thriller|3.8846153846153846|
|      7|58000000|             Sabrina|  6.677277|  127.0|         6.2|       141|     Comedy|3.2830188679245285|
|      7|58000000|             Sabrina|  6.677277|  127.0|         6.2|       141|    Romance|3.2830188679245285|
|      8|       0|        Tom and Huck|  2.561161|   97.0|         5.4|        45|     Action|               3.8|
|      8|       0|        Tom and Huck|  2.561161|   97.0|         5.4|        45|  Adventure|               3.8|
+-------+--------+--------------------+----------+-------+------------+----------+-----------+------------------+
only showing top 20 rows

In [63]:
from pyspark.sql.functions import when, lit,col

# unique values in col gender_name
df = df.withColumn("gender_name_Animation", lit(0))
df = df.withColumn("gender_name_Action", lit(0))
df = df.withColumn("gender_name_Adventure", lit(0))
df = df.withColumn("gender_name_Comedy", lit(0))
df = df.withColumn("gender_name_Crime", lit(0))
df = df.withColumn("gender_name_Documentary", lit(0))
df = df.withColumn("gender_name_Drama", lit(0))
df = df.withColumn("gender_name_Family", lit(0))
df = df.withColumn("gender_name_Fantasy", lit(0))
df = df.withColumn("gender_name_Foreign", lit(0))
df = df.withColumn("gender_name_History", lit(0))
df = df.withColumn("gender_name_Horreur", lit(0))
df = df.withColumn("gender_name_Music", lit(0))
df = df.withColumn("gender_name_Mystery", lit(0))
df = df.withColumn("gender_name_Romance", lit(0))
df = df.withColumn("gender_name_Science_Fiction", lit(0))
df = df.withColumn("gender_name_Science_Thriller", lit(0))
df = df.withColumn("gender_name_Science_TV_Movie", lit(0))
df = df.withColumn("gender_name_Science_War", lit(0))
df = df.withColumn("gender_name_Science_Western", lit(0))

# Set the value in 'gender_name_female' column to 1 for the rows where 'gender_name' is "Female"
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Action")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Adventure")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Comedy")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Crime")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Documentary")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Drama")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))
df = df.withColumn("gender_name_Animation", when(col("gender_name") == "Animation", 1).otherwise(col("gender_name_Animation")))

# Create a new column 'gender_name_male' with all values set to 0
df = df.withColumn("gender_name_male", lit(0))

# Set the value in 'gender_name_male' column to 1 for the rows where 'gender_name' is "Male"
df = df.withColumn("gender_name_male", when(col("gender_name") == "Male", 1).otherwise(col("gender_name_male")))

In [59]:
df.show()

+-------+--------+--------------------+----------+-------+------------+----------+-----------+------------------+-----------------+
|movieId|  budget|      original_title|popularity|runtime|vote_average|vote_count|gender_name|        avg_rating|gender_name_dummy|
+-------+--------+--------------------+----------+-------+------------+----------+-----------+------------------+-----------------+
|      1|30000000|           Toy Story| 21.946943|   81.0|         7.7|      5415|  Animation|3.8724696356275303|                0|
|      1|30000000|           Toy Story| 21.946943|   81.0|         7.7|      5415|     Comedy|3.8724696356275303|                0|
|      1|30000000|           Toy Story| 21.946943|   81.0|         7.7|      5415|     Family|3.8724696356275303|                0|
|      2|65000000|             Jumanji| 17.015539|  104.0|         6.9|      2413|  Adventure|3.4018691588785046|                0|
|      2|65000000|             Jumanji| 17.015539|  104.0|         6.9|      2413|    Fantasy|3.4018691588785046|                0|
|      2|65000000|             Jumanji| 17.015539|  104.0|         6.9|      2413|     Family|3.4018691588785046|                0|
|      3|       0|    Grumpier Old Men|   11.7129|  101.0|         6.5|        92|    Romance|3.1610169491525424|                0|
|      3|       0|    Grumpier Old Men|   11.7129|  101.0|         6.5|        92|     Comedy|3.1610169491525424|                0|
|      4|16000000|   Waiting to Exhale|      null|   null|        null|      null|     Comedy|2.3846153846153846|                0|
|      4|16000000|   Waiting to Exhale|      null|   null|        null|      null|      Drama|2.3846153846153846|                0|
|      4|16000000|   Waiting to Exhale|      null|   null|        null|      null|    Romance|2.3846153846153846|                0|
|      5|       0|Father of the Bri...|  8.387519|  106.0|         5.7|       173|     Comedy| 3.267857142857143|                0|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|     Action|3.8846153846153846|                0|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|      Crime|3.8846153846153846|                0|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|      Drama|3.8846153846153846|                0|
|      6|60000000|                Heat| 17.924927|  170.0|         7.7|      1886|   Thriller|3.8846153846153846|                0|
|      7|58000000|             Sabrina|  6.677277|  127.0|         6.2|       141|     Comedy|3.2830188679245285|                0|
|      7|58000000|             Sabrina|  6.677277|  127.0|         6.2|       141|    Romance|3.2830188679245285|                0|
|      8|       0|        Tom and Huck|  2.561161|   97.0|         5.4|        45|     Action|               3.8|                0|
|      8|       0|        Tom and Huck|  2.561161|   97.0|         5.4|        45|  Adventure|               3.8|                0|
+-------+--------+--------------------+----------+-------+------------+----------+-----------+------------------+-----------------+
only showing top 20 rows

In [29]:
# dummies gender_name
df = pd.get_dummies(df, columns=['gender_name'])

# Group by movieId and sum only gender_name and reset index
df = df.groupby(['movieId', 'budget', 'original_title', 'popularity', 'runtime', 'vote_average','vote_count', 'avg_rating']).sum().reset_index()
df

,movieId,budget,original_title,popularity,runtime,vote_average,vote_count,avg_rating,gender_name_Action,gender_name_Adventure,...,gender_name_History,gender_name_Horror,gender_name_Music,gender_name_Mystery,gender_name_Romance,gender_name_Science Fiction,gender_name_TV Movie,gender_name_Thriller,gender_name_War,gender_name_Western
0,1,30000000,Toy Story,21.946943,81.0,7.7,5415.0,3.872470,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,65000000,Jumanji,17.015539,104.0,6.9,2413.0,3.401869,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,0,Grumpier Old Men,11.712900,101.0,6.5,92.0,3.161017,0,0,...,0,0,0,0,1,0,0,0,0,0
3,5,0,Father of the Bride Part II,8.387519,106.0,5.7,173.0,3.267857,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,60000000,Heat,17.924927,170.0,7.7,1886.0,3.884615,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8164,161918,0,Sharknado 4: The 4th Awakens,4.574494,85.0,4.3,88.0,1.500000,0,0,...,0,1,0,0,0,1,0,0,0,0
8165,161944,8000000,The Last Brickmaker in America,0.038998,85.0,7.0,1.0,5.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
8166,162542,1000000,,7.333139,150.0,7.3,25.0,5.000000,0,0,...,0,0,0,0,1,0,0,1,0,0
8167,162672,15050000,Mohenjo Daro,1.423358,155.0,6.7,26.0,3.000000,0,1,...,1,0,0,0,1,0,0,0,0,0
8168,163949,0,The Beatles: Eight Days a Week - The Touring Y...,7.078301,99.0,7.6,92.0,5.000000,0,0,...,0,0,1,0,0,0,0,0,0,0

In [30]:
# Save moviesId and original_title in a dataframe
movies = df[['movieId', 'original_title']]
movies.head()

   movieId               original_title
0        1                    Toy Story
1        2                      Jumanji
2        3             Grumpier Old Men
3        5  Father of the Bride Part II
4        6                         Heat

# Model

## Suggest top N movies similar to a given movie title

In [35]:
from surprise import KNNWithMeans
from surprise import accuracy

In [33]:
X = df.drop(columns=['movieId', 'original_title'])
y= df['original_title']

In [36]:
algo = KNNWithMeans(k=10, sim_options={'name': 'cosine', 'user_based': False})
algo.fit(X)

AttributeError: 'DataFrame' object has no attribute 'n_items'

In [ ]:
# Get the top 10 predictions for each movie
predictions = algo.get_neighbors(X, k=10)

In [31]:
# # del col : movieId, original_title
# df = df.drop(columns=['movieId', 'original_title'])
# df.head()



# Create a Series for the movie titles so they are associated to an ordered numerical list
indices = pd.Series(movies['original_title'])
indices[:5]

# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[indices == title].index[0]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return movies['original_title'].iloc[movie_indices]

# Get the top 10 recommendations for the movie 'The Dark Knight Rises'
get_recommendations('The Dark Knight Rises')

ValueError: could not convert string to float: 'Toy Story'

In [32]:
# Import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(df, df)
cosine_sim

ValueError: could not convert string to float: 'Toy Story'