In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../Data/Procceed/recommendations.csv')
df.head()

,id_global,movieId,imdbid,budget,original_title,popularity,revenue,runtime,vote_average,vote_count,gender_id,gender_name,tmdbId,userId,average_rating,cast_character,cast_namer,crew_job,crew_namer
0,16420,26,114057,0,Othello,1.845899,0.0,123.0,7.0,33.0,18,Drama,16420,70,5.0,Lodovico,Michael Sheen,Adaptation,Oliver Parker
1,16420,26,114057,0,Othello,1.845899,0.0,123.0,7.0,33.0,18,Drama,16420,70,5.0,Lodovico,Michael Sheen,Director,Oliver Parker
2,16420,26,114057,0,Othello,1.845899,0.0,123.0,7.0,33.0,18,Drama,16420,70,5.0,Lodovico,Michael Sheen,Writer,William Shakespeare
3,16420,26,114057,0,Othello,1.845899,0.0,123.0,7.0,33.0,18,Drama,16420,70,5.0,Montano,Nicholas Farrell,Adaptation,Oliver Parker
4,16420,26,114057,0,Othello,1.845899,0.0,123.0,7.0,33.0,18,Drama,16420,70,5.0,Montano,Nicholas Farrell,Director,Oliver Parker

In [ ]:
# dummies gender_name
df = pd.get_dummies(df, columns=['gender_name'])
df = pd.get_dummies(df, columns=['cast_namer'])

# Group by movieId and sum only gender_name and reset index
df = df.groupby(['movieId', 'budget', 'original_title', 'popularity', 'runtime', 'vote_average','vote_count', 'avg_rating']).sum().reset_index()
df